extends ../layouts/main

block content
  main
    if products.length > 0
      .grid
        each product in products
          article.card.product-item
            header.card__header
              h1.product__title=`${product.title} (${product.quantity})`
            .card__image
              img(src=product.image, alt="A Book")
            .card__content
              h2.product__price=`\$${product.price}`
              p.product__description=product.description
            .card__actions
              a.btn(href=`/products/${product.id}`) Details
              include ../includes/add-to-cart
              form(action=`/cart/delete/${product.id}` method="POST") 
                button.btn(type="submit") Remove from Cart
    else
      h1 No Products